[Desktop Entry]
Categories=Network;InstantMessaging
Exec=Discord --enable-features=UseOzonePlatform --ozone-platform=wayland
GenericName=All-in-one cross-platform voice and text chat for gamers
Icon=discord
MimeType=x-scheme-handler/discord
Name=Discord
Type=Application
Version=1.4
